* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

svg, svg *{
    pointer-events: none;
}

/*---------Calculator Container----------*/
#calc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 390px;
    height: auto;
    display: flex;
    background-color: #f2f2f2;

    flex-direction: column;
    justify-content: center;

    user-select: none;
}

/*---------Display----------*/
.display {
    height: 150px;
    user-select: none; 
    overflow: hidden;
}
.answer {
    height: 100px;
    padding: 10px;
    font-size: 35px;
}
.question {
    height: 50px;
    width: 100%;
    padding: 10px;
    font-size: 25px;
}

/*---------M buttons----------*/
.m-buttons {
    display: flex;
    justify-content: space-around;
    background-color: none;
}
.m-button, .t-button, .f-button {
    padding: 15px;
}

/*---------Trigonometry buttons----------*/
.t-buttons {
    display: flex;
    justify-content: left;
    margin: 20px;
}
.drop-down {
    margin: 0 20px;
    background: none;
    border: none;
}
.drop-down option sup {
    border: 2px solid black;
}

/*---------Normal buttons----------*/
.n-buttons{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.n-button {
    text-align: center;
}
.n-button svg{
    width: 25px;
    height: 15px;
}
.n-button {
    padding: 10px;
    margin: 1.5px;
    background-color: #f7f8f8;
}
.number {
    background-color: #fdfdfd;
    font-weight: bolder;
    font-size: 20px;
}
.equalTo {
    background-color: #91c1e7;
}
.button,.t-button{
    cursor: pointer;
}
.low-op-button {
    cursor: not-allowed;
    opacity: .3;
}


/*---------responsive----------*/
@media (min-width: 992px) {
    .button:hover {
        background-color: rgb(177, 171, 171);
    }
}  
@media (max-width: 400px) {
    .calculator {
        width: 360px;
    }
}
@media (max-width: 300px) {
    .calculator {
        width: 260px;
    }
}